[submodule "harmony"]
	path = harmony
	url = git@github.com:Notysoty/harmony.git
	branch = updated_files_for_forntend
[submodule "mhc_embeddings"]
	path = mhc_embeddings
	url = https://github.com/harmonydata/mhc_embeddings.git
	branch = main
